<head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% capture pageTitle %} {% if title %}{{ title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
    {% capture pageDescription %} {% if description %}{{ description }}{% else %}{{site.description}}{% endif %} {% endcapture %}
    {% capture pageImage %} {% if image %}{{ image }}{% else %}{{site.image}}{% endif %} {% endcapture %}

    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}">
    <link rel="author" content="{{ site.authorName }}" href="{{ site.authorUrl }}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta property="og:url" content="{{ pageUrl }}">
    <meta property="og:image" content="{{ pageImage }}">
    <meta property="og:description" content="{{ pageDescription }}">
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:see_also" content="{{ site.url }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ page.url }}">
    <meta name="twitter:title" content="{{ pageTitle }}">
    <meta name="twitter:description" content="{{ pageDescription }}">
    <meta name="twitter:image" content="{{ pageImage }}">

    <!-- load font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- mathjax -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>


    <!-- load highlight.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/nord.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>

    <!-- apply highlight.js -->
    <script>
      hljs.configure({});
      hljs.highlightAll();
    </script>

    <!-- load stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/bamboo.css/dist/light.min.css">
    <link rel="stylesheet" href="/styles.css">

    <!-- load favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HW9MGZSF9N"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HW9MGZSF9N');
    </script>
</head>
